
<div class="container mat-elevation-z20">

  <div class="row justify-content-start text-left">
    <a style="font-size: small; margin-left: 2%; margin-bottom: 1%" routerLink="/main/lots-list">&larr; Вернуться назад</a>
  </div>

  <div class="row justify-content-center text-center">

    <div class="col">
      <div class="row justify-content-center text-center" >
        <div class="container-fluid">
          <div>

            <angular-image-slider *ngIf="lot.lotFoto.length > 1" [images]="lot.lotFoto"></angular-image-slider>

          </div>
        </div>
      </div>


      <!-- СПИСОК ОПИСАНИЯ -->
      <div class="container justify-content-center">
        <div class="col-12">

          <mat-list>

            <mat-list-item>{{lot.lotName}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Пользователь</b>: {{user.userLogin}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Наименование товара</b>: {{lot.lotName}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Категория товара</b>: {{lot.lotCategory}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Статус лота</b>: {{lot.lotStatus}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Дата добавления лота</b>: {{lot.lotSendDate.toDateString()}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Дата начала торга</b>: {{lot.lotStartDate.toDateString()}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item><b>Начальная цена</b>: {{lot.lotStartPrice}}</mat-list-item>
            <mat-divider></mat-divider>


            <div class="row justify-content-start">
              <div class="col-12">
                <b>Описание товара:</b>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                {{lot.lotDescription}}
              </div>
              <mat-divider></mat-divider>
            </div>


          </mat-list>
        </div>

      </div>

      <div class="button-row">
        <button (click)="openModal()" mat-raised-button color="warn">Отклонить</button>
        <button mat-raised-button color="primary">Одобрить</button>

      </div>


    </div>
  </div>

