<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="lotStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.lotStatus}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lotType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{row.lotType}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="lotName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>lotName</th>
      <td mat-cell *matCellDef="let row">{{row.lotName}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="lotStartPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>lotStartPrice</th>
      <td mat-cell *matCellDef="let row">{{row.lotStartPrice}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="lotSendDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>lotSendDate</th>
      <td mat-cell *matCellDef="let row">{{row.lotSendDate}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.lots.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
