<div style="margin-top: 8%">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input  matInput placeholder="Search" value="">
    </mat-form-field>
  </form>
</div>
<div style="width: 100%" class="justify-content-center">

  <div  *ngFor=" let user of users">
    <div style="margin: 5px">

      <mat-card (click)="onItemClick( $event , user )">
        <mat-list>
          <mat-list-item class="dialog-list-content" >

            <img  mat-list-avatar src="{{user?.userPhoto}}" alt="Desc 1" style="width: 100px; height: 100px">
            <h3 mat-line><a routerLink="/main/my-dialog/{{user.userLogin}}" >{{user?.userLogin}}</a></h3>
            <p mat-line>
              <span>{{user?.userName}}</span>
            </p>
            <p mat-line>
              <span>{{user?.userLastname}}</span>
            </p>

            <div class="button-row">
              <button mat-raised-button color="warn" >X</button>
            </div>

          </mat-list-item>

        </mat-list>

      </mat-card>

    </div>
  </div>

</div>
