<div class="container-fluid col-10" style="margin-top: 20px">

  <div class="row justify-content-center">

    <div class="col-12">

      <div class="row justify-content-center">

        <div class="row justify-content-center mat-elevation-z8 form-auth">


         <h3>Одобренные лоты</h3>
          <div class="row  col-12" style="margin: 20px 0px 20px 0px">

            <div *ngFor="let lot of admin.approvedLot" class="col-lg-4 col-xl-4 col-md-6 col-sm-12" >
              <mat-card class="example-card" style="margin-top: 10px">
                <mat-card-header >
                  <div class="row justify-content-center col-12">
                    <mat-list class="row justify-content-center ">
                      <mat-list-item >
                        <img  mat-list-avatar src="{{lot?.lotSeller.userPhoto}}" alt="Desc 1" style="width: 100px; height: 100px; ">
                      </mat-list-item>
                    </mat-list>
                    <div style="margin-top: 20px">
                      <mat-card-title>{{lot.lotSeller.userName}} {{lot.lotSeller.userLastname}}</mat-card-title>
                      <mat-card-subtitle>{{lot.lotSeller.userLogin}}</mat-card-subtitle>
                    </div>
                  </div>


                </mat-card-header >

                <div class="row justify-content-center col-12" style="margin-top: 10px"><h4>{{lot.lotName}}</h4></div>

                <img mat-card-image src="{{lot.lotFoto[0]}}" alt="Photo" style="margin-top: 20px">
                <mat-card-content style="width: 100%">
                  <div class="row justify-content-center">
                    <div class="col-12">

                        Дата одобрения:  {{lot.dateChecked | date: 'dd-MM-yyyy'}}

                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

            </div>

          </div>


        </div>

      </div>


    </div>

  </div>

</div>
