<div class="container-fluid">

  <div class="row justify-content-start text-left">
    <a style="font-size: small; margin-left: 2%; margin-bottom: 1%" routerLink="/main">&larr; Вернуться на главную</a>
  </div>
  <div class="row justify-content-start" style="margin-top: 1%; margin-bottom: 1%">
    <div class="col">
      <button (click)="addForm()"  mat-raised-button color="primary">Добавить новую категорию</button>
    </div>
  </div>

  <div class="row justify-content-center col-4" [style.display]="visib==true?'block':'none'" style="margin-left: 0px">

    <div class="row justify-content-center mat-elevation-z8 p-2 ">

      <mat-form-field class="col-12 example-full-width ">
        <input name="nameCategory" matInput placeholder="Введите название категории" [(ngModel)]="cat.categoryTitle" [formControl]="categoryNameFormControl">
        <mat-error *ngIf="categoryNameFormControl.hasError('pattern') && !loginFormControl.hasError('required')">
          Введите корректное название. Длина от 2 до 20 латинских символов
        </mat-error>
        <mat-error *ngIf="categoryNameFormControl.hasError('required')">
          Название категории <strong>не должно быть пустым</strong>
        </mat-error>
      </mat-form-field>


      <div class="row justify-content-center text-center">
        <div class="col-12">
          <button  (click)="addCategory()" mat-raised-button color="primary">Добавить категорию</button>
        </div>
      </div>

    </div>

  </div>



  <div class="row justify-content-start" style="margin-left: 1%">
    <h4>Категории</h4>
  </div>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-list cols="4" rowHeight="4:1" style="border-bottom: 1px solid #ffffff">
      <mat-grid-tile style="background: lightblue">ID Категории</mat-grid-tile>
      <mat-grid-tile style="background: lightblue">Название категории</mat-grid-tile>
      <mat-grid-tile style="background: lightblue">Удалить</mat-grid-tile>
      <mat-grid-tile style="background: lightblue">Изменить</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list
      *ngFor="let category of categories"
      cols="4" rowHeight="5:1" style="border-bottom: 1px solid #ffffff">
      <mat-grid-tile>{{category.categoryID}}</mat-grid-tile>
      <mat-grid-tile>{{category.categoryTitle}}</mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="warn">Удалить</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="{{category.categoryID}}" color="primary" class="link"><button   mat-raised-button color="primary">Изменить</button></a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-list>


</div>
