<div >


  <div >

    <mat-card class="example-card mat-elevation-z8" >

      <mat-card-header class="dialog-header">

        <img mat-card-avatar src="{{dialogUser.userPhoto}}">
        <mat-card-title>{{dialogUser.userLogin}}</mat-card-title>

      </mat-card-header>

      <div class="divider">
        <mat-divider></mat-divider>
      </div>


      <mat-card-content>

        <div class="dialog-content" [ngStyle]="{'height.px': winHeight}">

          <div class="dialog-item">

            <mat-card>
              <mat-card-header>

                <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{dialogUser.userPhoto}}" />

                <mat-card-title><a routerLink="." >{{dialogUser.userLogin}}</a></mat-card-title>

              </mat-card-header>

              <mat-card-content >
                <div>
                  <p>Вторая версия ангуляра всё ближе к релизу и всё больше людей начинают интересоваться им. Пока что информации по фреймворку не так много, особенно на русском языке, и всё чаще начинают возникать вопросы по некоторым темам.


                    Одна из тем, вызывающая много вопросов — внедрение зависимостей. Некоторые люди не сталкивались с подобной технологией. Другие не до конца понимают, как она работает в рамках Angular 2, так как привыкли к другим реализациям, которые бывают в других фреймворках.


                    А разгадка кроется в том, что DI во втором ангуляре действительно несколько отличается от других, и связано это в первую очередь с общим подходом и философией 2-й версии. Заключается она в том, что сущностями из которых строится всё приложение, являются компоненты. Сервисный слой, роутер, система внедрения зависимостей — вторичны и они имеют смысл только в рамках компонента. Это очень важный момент, который лежит в основе понимания архитектуры нового фреймворка.

                  </p>
                </div>

                <div class="row justify-content-center">
                  <div style="color: #b5b5b5">
                    23.12.18 17:01
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="dialog-item">

            <mat-card>
              <mat-card-header>

                <!--<div   mat-card-avatar class="user-avatar" [ngStyle]="{ 'background-image': 'url(' + comment?.userSender.userPhoto + ')'}" ></div>-->

                <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{dialogUser.userPhoto}}" />

                <mat-card-title><a routerLink="." >{{dialogUser.userLogin}}</a></mat-card-title>

              </mat-card-header>

              <mat-card-content >
                <div>
                  <p>Вторая версия ангуляра всё ближе к релизу и всё больше людей начинают интересоваться им. Пока что информации по фреймворку не так много, особенно на русском языке, и всё чаще начинают возникать вопросы по некоторым темам.
                    в первую очередь с общим подходом и философией 2-й версии. Заключается она в том, что сущностями из которых строится всё приложение, являются компоненты. Сервисный слой, роутер, система внедрения зависимостей — вторичны и они имеют смысл только в рамках компонента. Это очень важный момент, который лежит в основе понимания архитектуры нового фреймворка.

                  </p>
                </div>

                <div class="row justify-content-center">
                  <div style="color: #b5b5b5">
                    23.12.18 17:01
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="dialog-item">

            <mat-card>
              <mat-card-header>

                <!--<div   mat-card-avatar class="user-avatar" [ngStyle]="{ 'background-image': 'url(' + comment?.userSender.userPhoto + ')'}" ></div>-->

                <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{dialogUser.userPhoto}}" />

                <mat-card-title><a routerLink="." >{{dialogUser.userLogin}}</a></mat-card-title>

              </mat-card-header>

              <mat-card-content >
                <div>
                  <p>Вторая версиясофией
                  </p>
                </div>

                <div class="row justify-content-center">
                  <div style="color: #b5b5b5">
                    23.12.18 17:01
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="dialog-item">

            <mat-card>
              <mat-card-header>

                <!--<div   mat-card-avatar class="user-avatar" [ngStyle]="{ 'background-image': 'url(' + comment?.userSender.userPhoto + ')'}" ></div>-->

                <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{dialogUser.userPhoto}}" />

                <mat-card-title><a routerLink="." >{{dialogUser.userLogin}}</a></mat-card-title>

              </mat-card-header>

              <mat-card-content >
                <div>
                  <p>Вторая версия ангуляра всё ближе к релизу и всё больше людей начинают интересоваться им. Пока что информации по фреймворку не так много, особенно на русском языке, и всё чаще начинают возникать вопросы по некоторым темам.


                    Одна из тем, вызывающая много вопросов — внедрение зависимостей. Некоторые люди не сталкивались с подобной технологией. Другие не до конца понимают, как она работает в рамках Angular 2, так как привыкли к другим реализациям, которые бывают в других фреймворках.


                    А разгадка кроется в том, что DI во втором ангуляре действительно несколько отличается от других, и связано это в первую очередь с общим подходом и философией 2-й версии. Заключается она в том, что сущностями из которых строится всё приложение, являются компоненты. Сервисный слой, роутер, система внедрения зависимостей — вторичны и они имеют смысл только в рамках компонента. Это очень важный момент, который лежит в основе понимания архитектуры нового фреймворка.

                  </p>
                </div>

                <div class="row justify-content-center">
                  <div style="color: #b5b5b5">
                    23.12.18 17:01
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </div>

      </mat-card-content>

      <mat-card-actions>
        <mat-card>
          <mat-card-content>

            <div class="row" >

              <mat-form-field class="col-10">
                <textarea rows="4" matInput placeholder="Написать сообщение .... " ></textarea>
              </mat-form-field>

              <div class="col-2">
                <button mat-fab>
                  <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
                </button>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
      </mat-card-actions>

    </mat-card>



  </div>

</div>


