
<div class="container-fluid">

  <div class="row justify-content-center text-center">

    <div class="col">

      <!--ФОТОГРАФИИ ЛОТА-->
      <div *ngIf="lot.lotFoto.length > 1">
        <img *ngFor="let photo of lot.lotFoto" mat-card-image style="width: 235px" src="{{photo}}" alt="image">
      </div>

      <!-- СПИСОК ОПИСАНИЯ -->
      <mat-list role="list">

        <mat-list-item role="listitem">Пользователь:<b>{{user.userLogin}}</b></mat-list-item>
        <mat-list-item role="listitem">Наименование товара: <b>{{lot.lotName}}</b></mat-list-item>
        <mat-list-item role="listitem">Категория товара: <b>{{lot.lotCategory}}</b></mat-list-item>
        <mat-list-item role="listitem">Статус лота: <b>{{lot.lotStatus}}</b></mat-list-item>
        <mat-list-item role="listitem">Дата размещения торга: <b>{{lot.lotSendDate}}</b></mat-list-item>
        <mat-list-item role="listitem">Дата начала торга: <b>{{lot.lotStartDate}}</b></mat-list-item>
        <mat-list-item role="listitem">Начальная цена: <b>{{lot.lotStartPrice}}</b></mat-list-item>
        <mat-list-item role="listitem">Описание: {{lot.lotDescription}}</mat-list-item>

      </mat-list>

      <div class="button-row">
        <button mat-raised-button color="warn">Отклонить</button>
        <button mat-raised-button color="primary">Одобрить</button>
      </div>



    </div>



    <!-- СПИСОК ОПИСАНИЯ -->
    <!--<mat-list>-->
      <!--<mat-list-item>{{lot.lotName}}</mat-list-item>-->
      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item>Категория товара: {{lot.lotCategory}}</mat-list-item>-->
      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item>Статус лота: {{lot.lotStatus}}</mat-list-item>-->
      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item>Дата начала торга: {{lot.lotStartDate}</mat-list-item>-->
      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item>Начальная цена: {{lot.lotStartPrice}}</mat-list-item>-->
      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item>Описание: {{lot.lotDescription}</mat-list-item>-->

    <!--</mat-list>-->


  </div>
</div>


